@import "../../../../scss/index.scss";

.list-users {
    &__switch {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        > button {
            margin-right: 20px;
        }
    }

    &__btn {
        margin-bottom: 20px;
    }

    .users-active, .users-inactive {
        background: #FFF;
        padding: 10px 20px;

        .ant-list-item-meta {
            display: flex;
            align-items: center;
        }
    }
}