@import "../../../scss/index.scss";

.top-menu{
  display: flex;

  button {
    color: $font-light;

    &:hover {
      color: $primary-color;
    }
    &:focus,&:active {
      color: $font-light;
    }
  }

  &__left {
    &-logo {
      width: 90px;
      padding: 0 15px;
    }

    svg {
      margin-left: 60px;
      font-size: 17px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}