@import "../../../scss/index.scss";

.login-form {
    .ant-form-item:last-of-type {
        margin: 0;
    }

    &__input {
        .ant-input-prefix {
            i {
                font-size: 0em + 22px / $defaultFontSize;
            }
        }
    }

    input {
        font-size: 0em + 20px / $defaultFontSize;
        &:focus {
            border-color: $primary-color;
            box-shadow: none;
        }
    }

    &__button {
        width: 100%;
        font-size: 0em + 20px / $defaultFontSize;
        background-color: $primary-color;
        color: $font-light;
        height: 42px;
        margin-top: 20px;

        &:hover {
            background-color: $primary-color-dark;
            color: $font-light;
        }

        &:active, &:focus {
            background-color: $primary-color;
            color: $font-light;
            border: 0;
        }
    }

    .ant-spin-dot-item {
        background-color: #FFF;
    }
}